// Base 
@use "base/normalize";
@use "base/variables";
@use "base/mixins";

// layout

@use "layout/footer";
@use "layout/header";

// base


@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/RobotoFlex.woff2') format('woff2');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono.woff2') format('woff2');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Roboto Flex', sans-serif;
  font-variation-settings:
    "wght" 400,
    "wdth" 100,
    "opsz" 16;
}

