@mixin media($breakpoint) {
  @if $breakpoint == 1440 {
    @media (min-width: 1440px) { @content; }
  } @else if $breakpoint == 1024 {
    @media (min-width: 1024px) { @content; }
  } @else if $breakpoint == 768 {
    @media (min-width: 768px) { @content; }
  } 
}

@mixin container($max: 1200px) {
  max-width: $max;
  margin-inline: auto;
  padding-inline: 16px;

  @media (min-width: 768px) {
    padding-inline: 24px;
  }

  @media (min-width: 1024px) {
    padding-inline: 40px;
  }

  @media (min-width: 1440px) {
    padding-inline: 50px;
  }
}

@mixin button-reset {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

// grid-сетка

// -------------------------

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin span($mobile, $desktop) {
  grid-column: span $mobile;

  @media (min-width: 1024px) {
    grid-column: span $desktop;
  }
}

// --------------------
