// Absolute colors

$color-white: #FFF;
$color-dark: #000;


// Orange 

$color-orange-60: #CE7D63;
$color-orange-65: #D4C677;
$color-orange-70: #DACE8B;
$color-orange-80: #E6DEB2;
$color-orange-90: #F2EED8;
$color-orange-95: #F9F7EC;
$color-orange-97: #FBFAF3;
$color-orange-99: #FDFEFB;

// Dark

$color-dark-06: #0F0F0F;
$color-dark-10: #1A1A1A;
$color-dark-12: #1F1F1F;
$color-dark-15: #262626;
$color-dark-20: #333333;
$color-dark-25: #404040;
$color-dark-30: #4D4D4D;
$color-dark-35: #595959;

// Grey

$color-grey-40: #676665;
$color-grey-50: #81807E;
$color-grey-70: #B3B3B2;
$color-grey-80: #CACACE;
$color-grey-90: #E6E6E6;
$color-grey-95: #F2F2F2;
$color-grey-97: #F7F7F7;
$color-grey-99: #FCFCFC;

// 



