// Absolute colors

$white: #FFF;
$dark: #000;


// Orange 

$orange-60: #CE7D63;
$orange-65: #D4C677;
$orange-70: #DACE8B;
$orange-80: #E6DEB2;
$orange-90: #F2EED8;
$orange-95: #F9F7EC;
$orange-97: #FBFAF3;
$orange-99: #FDFEFB;

// Dark

$dark-06: #0F0F0F;
$dark-10: #1A1A1A;
$dark-12: #1F1F1F;
$dark-15: #262626;
$dark-20: #333333;
$dark-25: #404040;
$dark-30: #4D4D4D;
$dark-35: #595959;

// Grey

$grey-40: #676665;
$grey-50: #81807E;
$grey-70: #B3B3B2;
$grey-80: #CACACE;
$grey-90: #E6E6E6;
$grey-95: #F2F2F2;
$grey-97: #F7F7F7;
$grey-99: #FCFCFC;

// 

$button-radius: 12px;

